/* police par défaut pour la page */
p, div, h1, h2, h3, h4, h5, h6 {
  font-family: Calibri, sans-serif;
}
.logo{
  width: 25%;
  height: 25%;
}
.logo:hover{
  transform: rotate(45deg);
  width: 50%;
  height: 50%;
}
.style-paragraphe1{
  background-color: #93a1a8;
}
.style-paragraphe2{
font-size: 6rem;
}
.style-paragraphe3{
  font-size: 1rem;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}
.style-paragraphe4{
  background-color: #93a1a8;
  padding: 10px;
}
.nom{
    color: white;
    text-align: center;
    font-size: 4rem;
}
.nom1{
  color: white;
  text-align: center;
  font-size: 8rem;
}
.nom2{
  color: white;
  text-align: center;
  font-size: 8rem;
}
.style-competences{
  color : #435966;
}
.style-partie{
  font-weight: bold;
}
.style-ul1 {
  color: white;
  list-style-type: none;
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding: 0;
}
.taille{
  padding: 1rem;
  display: flex;
}
.titre{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* Styles par défaut pour les écrans de taille moyenne et plus grands */
.conteneur-flex {
  display: flex;
  width: 100%;
}

.div20 {
  flex: 0 0 20%;
  background-color: #435966;
}

.div80 {
  flex: 0 0 80%;
}

.taille-texte {
  width: 100%;
  padding: 0 4rem; /* Utilisation d'une valeur relative */
  
}
.taille-texte1 {
  width: 100%;
}
.mail{

}
/* Règles pour différentes tailles d'écran plus grandes */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  body, html {
    margin: 0;
    padding: 0;
  }

  .container {  
    width: 100%;
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    max-width: 640px;
    flex-wrap: wrap;
  }
  logo{
    width: 4rem; 
    height: 4rem;
  }
  .conteneur-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .div20 {
    flex: 100%;
    background-color: #435966;
  }
  
  .div80 {
    flex: 100%;
  }
  .nom{
    font-size: 1rem;
}
.nom1{
  font-size: 2rem;
}
.taille-texte {
  width: 100%;
  padding: 0px 0rem;
}
.nom2 {
  font-size: 3rem;
}
.style-paragraphe2 {
  font-size: 1rem;
}
}

@media (max-width: 475px) {
  body, html {
    margin: 0;
    padding: 0;
  }
  .style-ul1 {
    color: white;
    list-style-type: none;
    font-size: 1rem;
    text-align: center;
  }
  .container {  
    width: 100%;
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-wrap: wrap;
  }
  logo{
    width: 4rem; 
    height: 4rem;
  }
  .conteneur-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .div20 {
    flex: 100%;
    background-color: #435966;
  }
  
  .div80 {
    flex: 100%;
  }
  .nom{
    font-size: 1rem;
}
.nom1{
  font-size: 2rem;
}
.taille-texte {
  width: 100%;
  padding: 0px 0rem;
}
.nom2 {
  font-size: 3rem;
}
.style-paragraphe2 {
  font-size: 1rem;
}
}