p, div, h1, h2, h3, h4, h5, h6 {
  font-family: Calibri, sans-serif;
}

.style-paragraphe1{
  background-color: #93a1a8;
}
.style-paragraphe2{
font-size: 4rem;
}
.style-paragraphe3{
  font-size: 1rem;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}
.style-paragraphe4{
  background-color: #93a1a8;
  padding: 10px;
}
.nom{
    color: white;
    text-align: center;
    font-size: 4rem;
}
.nom1{
  color: white;
  text-align: center;
  font-size: 8rem;
}
.nom2{
  color: white;
  text-align: center;
  font-size: 8rem;
}
.style-competences{
  color : #435966;
}
.style-partie{
  font-weight: bold;
}
.style-ul1 {
  color: white;
  list-style-type: none;
  font-size: 4rem;
  text-align: center;
}
.taille{
  padding: 1rem;
  display: flex;
}
.titre{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* Styles par défaut pour les écrans de taille moyenne et plus grands */
.conteneur-flex {
  display: flex;
  width: 100%;
}

.div20 {
  flex: 0 0 20%;
  background-color: #435966;
}

.div80 {
  flex: 0 0 80%;
}

.taille-texte {
  width: 100%;
  padding: 0 2rem; /* Utilisation d'une valeur relative */
}
/* Ajout de règles de média query pour les écrans de petite taille (smartphones) */
@media screen and (max-width: 3500px) 
{
.conteneur-flex {
    flex-direction: column;
  }

  .div20,
  .div80 {
    flex: 0 0 100%;
  }

  .taille-texte {
    padding: 0 1rem; /* Ajustement pour les écrans plus petits */
  }
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}